@import 'forms.less';

@primary-color: #1e3c96;
@secundary-color:#c8a505;

@font-face {
    font-family: 'consolas';
    src        : url(../../fonts/consolas.ttf);
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: blue; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: red; 
  }
.navbar-custom-furia{
    background-color: #000;
}


table{
    &.custom{
        border-collapse:separate; 
        border-spacing: 0 1em;

        thead{
            tr{
                td{
                    color:#6a6473;
                }
            }
        }

        td{
            padding: 0 2px;
            border: none;
            min-height: 25px;
            vertical-align: middle;
            div{
                min-height: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
            &:nth-child(1){
                width: 15%;
            }
            &:nth-child(2){
                width: 35%;
            }
            &:nth-child(3){
                width: 25%;
            }
            &:nth-child(4){
                width: 25%;
            }
    
        }
    }
}
.user-page{
    padding: 20px;
    margin-top: 70px;
    background-color: rgba(0, 0, 0, 0.5);
    table{
        thead{
            background-color: #f8f9fa;
            th{
                border: none;
            }
        }
        tbody{
            td{
                border: none;
            }
            tr{
                border-bottom: 1px solid #fff;
            }
        }
    }
    .pagination{
        .page-item{
            margin: 0 5px !important;
            &.active{
                background-color: @secundary-color;
                border: transparent;
                border-radius: 4px;
            }
            &:hover{
                background-color: @secundary-color;
                border: transparent;
                border-radius: 4px;
            }
            .page-link{
                background-color: transparent;
                border: transparent;
                color: #fff;
            }
        } 
    }
}

.btn-link {
    font-weight: 400;
    color: @secundary-color;
    text-decoration: none;
    &:hover, &:focus, &:visited{
        color: @secundary-color;
    }
}
.menu-top{
    position: fixed;
    z-index: 80;
    background: black;
}
body {
    background-image     : url(../../imagens/bg.png);
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : left center;
    height               : 100%;
    background-attachment: fixed;
    font-family          : consolas;

    label{
        color: #fff;
        font-style: italic;
    }

    h1.custom{
        color: #c8a505;
        font-size: 70px;
        text-align: center;
        margin-top: 220px;

        @media(min-width: 768px){
            margin-top: initial;
        }

        &.format-text{
            font-style: italic;
        }
    }

    &.profile{
        background-image     : url(../../imagens/bg-perfil.png);
        background-position  : top center;
        .navbar-expand-lg .navbar-collapse {
            justify-content: flex-end;
            background-color: black;

            .navbar-nav{
                padding-right: 15px;

                .nav-item{
                    
                }
            }
        }
        .dropdown-menu {
            position: absolute!important;
        }
        .navbar-expand-lg .navbar-nav .dropdown-menu {
            text-align: right;
            left: -80px;
            background-color:rgba(0, 0, 0, .8);
            .dropdown-item{
                color: #fff;
                &:hover{
                    background-color: transparent;
                    color: yellow;
                }
            }
        }

        .navbar{
            justify-content: flex-end;
            margin-top: -8px;
        }
    }

    .all {
        margin-bottom: 20px;
    }

    .bar-5 {
        width           : 80%;
        height          : 13px;
        background-color: red;
    }

    p, a{
        color: #fff;    
    }

    a:hover{
        color: yellow;
    }
    h1{
        text-transform: uppercase;
        font-weight: 600;
    }

    p,
    h1,
    h2,
    h3 {
        margin : 0;
        padding: 0;
        border : 0;
        color: #fff;    
    }


    .test {
        height: 40px;
    }

    .group {
        margin-top    : 20px;
        flex-direction: column;
        align-items   : center;
    }

    .logo {
        text-align: center;

        img {
            width: 85%;
        }
    }

    .bt-form{
        min-width: 280px;
        max-width: 280px;
    }

    .players-box {
        overflow-x: auto;

        .line {
            display       : flex;
            flex-direction: row;
            margin-bottom : 5px;


            .player-score {
                width           : 65px;
                margin-right    : 2px;
                background-color: black;

                .container-bar {
                    background-color: black;
                }

                h1 {
                    text-align      : center;
                    width           : 65px;
                    height          : 13px;
                    font-size       : 12px;
                    color           : #fff;
                    background-color: black;
                }

                h2 {
                    text-align: center;
                    width     : 65px;
                    height    : 13px;
                    font-size : 12px;
                    color     : #fff;
                }

                .all-player {
                    img {
                        width : 65px;
                        height: 65px;
                    }
                }

                .health {
                    width : 65px;
                    height: 13px;
                }
            }
        }
    }



    .reward {
        display       : flex;
        flex-direction: column;
        align-items   : center;

        .premium {
            background-color: #1e3c96;
            border-radius   : 10px;
            padding         : 5px 30px;
            text-align      : center;
            font-weight     : bold;
            color           : #FFF;
            width           : 100px;
            position        : relative;
            top             : 9px;
            font-size       : 11px;
        }

        .gift {
            background-color: #ffffff;
            border-radius   : 10px;
            border          : solid 2px @primary-color;
            padding         : 10px 40px;
            text-align      : center;
            font-weight     : bold;
            color           : #000;
            width           : 90vw;
        }
    }

    .points {
        background-color: #c8000a;
        border-radius   : 10px;
        border          : solid 2px #fff;
        padding         : 10px 35px;
        text-align      : center;
        font-weight     : bold;
        color           : #fff;
        max-height      : 49px;
        margin-top      : 25px;
        margin-left     : 5px;
        margin-right    : 5px;
        width           : 100%;

        p {
            margin-top: -14px;
            position  : relative;
            right     : 0px;
            left      : -2px;

            span {
                font-size : 10px;
                font-size : 34px;
                margin-top: 31px;
                position  : relative;
                top       : 4px;
            }
        }
    }
}

.pic-perfil{
    display: flex;
    justify-content: center;
    margin-top: 160px;
    .img-pic-perfil{
            border: solid yellow 1px;
            border-radius: 200px;
            width: 320px;
            height: 320px;
            padding: 20px;
        img{
            border-radius: 200px;
            width: 280px;
            height: 280px;
            object-fit: cover;
            box-shadow: 0px 0px 20px 0px rgba(255,204,0,.8);
        }
    }
    
}

.life{
    margin-left: 0;
    margin-top: 50px;
    text-align: center;

    .charge{
        background-color: #c8000a;
        line-height: 10px;
        padding: 10px;
        color: #FFF;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
    }
    h1{
        font-size: 28px;
        color: #fff;
        font-weight: 700;
    }
    p{
        color: #c8a505;
        font-size: 40px;
        font-weight: 700;
    }
    @media(min-width: 768px){
        margin-left: 50px;
        margin-top: 90px;
    }
}

.box-points{
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
    padding: 15px 20px 20px 20px;
    font-weight: 500;
    margin-bottom: 15px;
    h1{
    font-size: 22px;
    line-height: 40px;
        span{
            background-color: #c8000a;
            line-height: 10px;
            padding: 10px 10px 0px 10px;
        } 
    }
    @media(min-width: 768px){
        padding: 45px 20px 20px 20px;
        h1{
            font-size: 32px;
            margin-bottom: 15px;
        }
    }
    .room{
        background-color: @primary-color;
        color: white;   
    }
    .award{
        background-color: #c8a505;
        color: #000;
    }
    .capacity{
        background-color: transparent;
        border: 1px solid #fff;
        color: white;
        &.full{
            background-color: red;
            border: none;
        }
    }
    .enter-room{
        color: white;
        background-color: transparent;
        border: none;
        padding: 23px;
        width: 100%;
        cursor: pointer;
        &.full{
            color: silver;
            border: none;
            cursor: auto;
        }
    }
}

.status{
    font-size: 35px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    .point{
        background-color: #c8a505;
        border-radius: initial;
        color: #000;
        padding: 5px 18px 0px 18px;
    }
    .points{
        background-color: transparent;
        border: none;
        padding: 0;
        color: #c8a505!important;
    }
}
.background-players {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius   : 5px;
    margin-top      : 10px;
    margin-right    : 0px;
    padding         : 20px 25px 13px 5px;

    .versus {
        display       : flex;
        flex-direction: column;


    }

    .player {
        img {
            object-fit  : cover;
            width       : 57px;
            height      : 56px;
            border      : solid 2px #3ea48a;
            margin-right: 10px;
        }
    }

    .player-action {
        color      : #fff;
        font-size  : 10px;
        align-items: center;
        display    : flex;
    }

    .player-division {
        margin-bottom: 15px;
    }

    .container {
        .row {
            max-height: 725px;
            overflow  : auto;

        }
    }

}


@media (min-width: 768px) {

    table{
        &.custom{
            border-collapse:separate; 
            border-spacing: 0 1em;
            td{
                padding: .75rem;
            }
            thead{
                tr{
                    td{
                        color:#6a6473;
                    }
                }
            }
        }
    }

    body {

        .points {

            p {
                right: 26px;

                span {
                    left: 14px;
                }
            }
        }

        .background-players {

            .versus {
                flex-direction: row;
            }

            .container {
                .row {
                    max-height: 562px;
                }
            }
        }

        .reward {

            .gift {
                width: inherit;
            }
        }

        .points {
            width: inherit;
        }

    }

}

@media (min-width: 1024px) {
    body {
        .group {
            flex-direction : row;
            justify-content: center;
        }

        .background-players {
            .container {
                .row {
                    max-height: 709px;
                }
            }
        }
    }
}

@media (min-width: 1024px) {
    body {

        .background-players {
            .container {
                .row {
                    max-height: 761px;
                }
            }
        }
    }
}