@primary-color: #1e3c96;

@font-face {
    font-family: 'consolas';
    src        : url(../../fonts/consolas.ttf);
}

body {
    background-image     : url(../../imagens/bg.png);
    background-repeat    : no-repeat;
    background-size      : cover;
    background-position  : left center;
    height               : 100%;
    background-attachment: fixed;
    font-family          : consolas;

    .column-1 {
        position: relative;
        left    : 25px;
    }



    .all {
        margin-bottom: 100px;
    }

    .bar-5 {
        width           : 80%;
        height          : 13px;
        background-color: red;
    }

    p,
    h1,
    h2,
    h3 {
        margin : 0;
        padding: 0;
        border : 0;
    }

    .test {
        height: 40px;
    }

    .group {
        margin-top: 40px;
    }

    .logo {
        position: center;

        img {
            width: 85%;
        }
    }

    .line {
        display       : flex;
        flex-direction: row;
        margin-bottom : 5px;


        .player-score {
            width           : 65px;
            margin-right    : 2px;
            background-color: black;

            .container-bar {
                background-color: black;
            }

            h1 {
                text-align      : center;
                width           : 65px;
                height          : 13px;
                font-size       : 12px;
                color           : #fff;
                background-color: black;
            }

            h2 {
                text-align: center;
                width     : 65px;
                height    : 13px;
                font-size : 12px;
                color     : #fff;
            }

            .all-player {
                img {
                    width : 65px;
                    height: 65px;
                }
            }

            .health {
                width : 65px;
                height: 13px;
            }
        }
    }


    .reward {
        .premium {
            background-color: #1e3c96;
            border-radius   : 10px;
            padding         : 5px 30px;
            text-align      : center;
            font-weight     : bold;
            color           : #FFF;
            width           : 100px;
            position        : relative;
            top             : 9px;
            font-size       : 11px;
            left            : 80px;
        }

        .gift {
            background-color: #ffffff;
            border-radius   : 10px;
            border          : solid 2px @primary-color;
            padding         : 10px 40px;
            text-align      : center;
            font-weight     : bold;
            color           : #000;
        }
    }

    .points {
        background-color: #c8000a;
        border-radius   : 10px;
        border          : solid 2px #fff;
        padding         : 10px 35px;
        text-align      : left;
        font-weight     : bold;
        color           : #fff;
        max-height      : 49px;
        margin-top      : 25px;
        margin-left     : 5px;

        p {
            margin-top: -14px;
            position  : relative;
            right     : 26px;
        }
    }
}


.background-players {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius   : 5px;
    margin-top      : 10px;
    margin-right    : 112px;
    padding         : 25px 25px 25px 25px;

    .player {
        img {
            object-fit  : cover;
            width       : 57px;
            height      : 56px;
            border      : solid 2px #3ea48a;
            margin-right: 10px;
        }
    }

    .player-action {
        color    : #fff;
        font-size: 10px;
    }

    .player-division {
        margin-bottom: 15px;
    }

    .container {
        .row {
            max-height  : 725px;
            overflow    : auto;
            margin-right: -35px;

        }
    }

}